.main {
    display: flex;
    flex-direction: column;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

#about {
    display: block;
    background-color: rgba(27, 31, 34, 0.85);
    padding: 4.5rem 2.5rem 1.5rem 2.5rem;
    border-radius: 4px;
    margin: 50px;
}
