/* homepage.css */

/* ===== Container ===== */
.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
}

#pfp {
    padding-bottom: 15px;
    margin: 0;
}

#pfp img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    border: 2px solid #ffffff;
}

#pfp img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(0.2px, 0.2px) rotate(0deg); }
    10% { transform: translate(-0.2px, -0.4px) rotate(-0.2deg); }
    20% { transform: translate(-0.6px, 0px) rotate(0.2deg); }
    30% { transform: translate(0.6px, 0.4px) rotate(0deg); }
    40% { transform: translate(0.2px, -0.2px) rotate(0.2deg); }
    50% { transform: translate(-0.2px, 0.4px) rotate(-0.2deg); }
    60% { transform: translate(-0.6px, 0.2px) rotate(0deg); }
    70% { transform: translate(0.6px, 0.2px) rotate(-0.2deg); }
    80% { transform: translate(-0.2px, -0.2px) rotate(0.2deg); }
    90% { transform: translate(0.2px, 0.4px) rotate(0deg); }
    100% { transform: translate(0.2px, -0.4px) rotate(-0.2deg); }
  }

#heading {
    margin: 0;
    padding: 0;
}

#subheading{
    margin: 0;
    padding: 0;
}

#links {
    margin: 0;
    padding: 0;
}

#links .icons {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 2.5em;
}

#links .icons li {
    display: inline-block;
    margin-right: 25px;
}

#links .icons a {
    transition: transform 0.3s ease;
    text-decoration: none;
}

#links .icons:visited {
    color: white;
}

#links .icons a.fa-solid, #links .icons a.fa-brands {
    color: white;
}

#links .icons a:active {
    color: #9873AC;
}

#links .icons a:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

@media (max-width: 500px) {
    /* Adjust padding and margins for smaller screens */
    .container {
        padding: 10px;
    }
}

@media (max-width: 320px) {
    /* Further adjust profile picture size for very small screens */
    #pfp img {
        width: 125px;
        height: 125px;
    }
}