/* homepage.css */

/* ===== Body ===== */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* ===== Container ===== */
.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#pfp {
    padding: 0;
}

#pfp img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    border: 2px solid #ffffff;
}

@media (max-width: 485px) {
    #subheading h3 {
        display: none;
    }
}

#heading {
    margin: 0;
    padding: 0;
}

#heading h1 {
    font-size: 3rem;
}

#subheading{
    margin: 0;
    padding: 0;
}

#subheading h3 {
    font-size: 1.75rem;
    margin-top: 0;
}

#links {
    margin: 0;
    padding: 0;
}

#links .icons {
    margin-top: 0;
    list-style: none;
    font-size: 2.5em;
}

#links .icons li {
    display: inline-block;
    margin-right: 25px;
}

#links .icons a {
    transition: transform 0.3s ease;
    text-decoration: none;
}

#links .icons:visited {
    color: white;
}

#links .icons a.fa-solid, #links .icons a.fa-brands {
    color: white;
}

#links .icons a:active {
    color: #9873AC;
}

#links .icons a:hover {
    transform: scale(1.4);
    transition: transform 0.3s ease;
}

/* ====== Miscellaneous ===== */

.outlined-text {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}