/* homepage.css */

/* ===== Body ===== */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

/* ===== Container ===== */
.container {
    display: flex;
    flex-direction: column;
    height: 92.5vh;
    justify-content: center;
    align-items: center;
}

#pfp img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 0;
    margin-bottom: 10px;
    display: block;
    border: 2px solid #ffffff;
}

#name h1 {
    font-size: 3em;

}

#title h3 {
    font-size: 2em;

}

#links .icons {
    list-style: none;
}

#links .icons li {
    display: inline-block;
    margin-right: 25px;
}

#links .icons a {
    transition: transform 0.3s ease;
    text-decoration: none;
}

#links .icons:visited {
    color: white;
}

#links .icons a.fa-solid, #links .icons a.fa-brands {
    color: white;
}

#links .icons a:active {
    color: #9873AC;
}

#links .icons a:hover {
    transform: scale(1.4);
    transition: transform 0.3s ease;
}

/* ====== Miscellaneous ===== */

.outlined-text {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}