/* ===== Background ===== */
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

/* ===== Body ===== */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

/* ===== Container ===== */ 
#container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* ===== Header ===== */
#header {
    background-color: rgba(27, 31, 34, 0.8);
    padding: 10px;
    text-align: center;
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#header li {
    display: inline-block;
    margin-right: 10px;
    border-radius: 4px;
    margin-right: 15px;
}

#header a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#header a:hover {
    transform: scale(1.2);
}

#header a.active {
    color: #9873AC;
}

/* ===== Main ===== */
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
}

#main #pfp img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 0;
    margin-bottom: 10px;
    display: block;
    border: 2px solid #ffffff;
}

#main #heading h1 {

}

#main #subheading h3 {

}

#main #links icons {
    list-style: none;
}

#main #links .icons li {
    display: inline-block;
    margin-right: 25px;
}

#main #links .icons a {
    transition: transform 0.3s ease;
}

#main #links .icons a:link {
    color: white;
}

#main #links .icons a:hover {
    transform: scale(1.4);
    transition: transform 0.3s ease;
}

/* ====== Miscellaneous ===== */

.outlined-text {
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

a {
    text-decoration: none;
}

a:visited {
    color: #ffffff;
}

a:active {
    color: #9873AC;
}





