#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.pfp {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
    display: block;
    border: 2px solid #ffffff;
    transition: transform 0.3s ease; /* Add a smooth transition effect for the normal state */
}

/* Header */
header {
    background-color: rgba(27, 31, 34, 0.8); /* Adjust background color for consistency */
    padding: 10px;
}

/* Navigation Bar */ 

nav {
    text-align: center;
    padding: 2px; /* Add padding for space inside the navigation bar */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline-block;
    margin-right: 10px;
    border-radius: 4px;
    margin-right: 15px; /* Increase margin between navigation items */
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding: 10px 15px; /* Adjust padding for better spacing */
    border-radius: 4px; /* Add border-radius for rounded corners */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Add transform property for smooth scaling */}

nav a:hover {
    transform: scale(1.2); /* Enlarge the item on hover */
}

nav a.active {
    color: darkorchid;
}

/* Main */ 
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    text-align: center;
    padding-top: 75px;
    margin-top: auto;
    margin-bottom: auto;
}

#main img {
    margin-bottom: 5px;
}

#main h1 {
    margin-bottom:5px;
}

/* Type */
body {
    color: #ffffff;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.65;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
}

a:active {
    color: red;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.3;
    letter-spacing: 0.5rem;
    padding-top: 10px;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.4;
    letter-spacing: 0.5rem;
}

h3 {
    font-size: 1rem;
    letter-spacing: 0.15rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.7rem;
}

h6 {
    font-size: 0.6rem;
}

.outlined-text {
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

.icons {
    list-style: none;
}

.icons li {
    display: inline-block;
    margin-right: 25px;
}

.icons a {
    transition: transform 0.3s ease; /* Add a smooth transition effect for the normal state */
}

icons a:link {
    color: white;
}

.icons a:hover {
    transform: scale(1.4); /* Scale up by 10% on hover */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}
