/* site.css */

/* ===== Background ===== */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

/* ===== Navigation Bar ===== */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(27, 31, 34, 0.8);
    height: 7.5vh;
}

.topnav {
    text-align: center;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.topnav li {
    display: inline-block;
    margin-right: 20px;
}

.topnav a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.topnav a:hover {
    transform: scale(1.2);
}

.topnav a.current {
    color: #9873AC;
}

.topnav a:active {
    color: #9873AC;
}